@import url('https://fonts.googleapis.com/css?family=Alike+Angular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Almendra&display=swap');

body{
  background-image: url("../images/bg9.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y:hidden !important; //removes scroll vertical
}

#para9{
  position: fixed;
  width: 40%;
  font-size: 18pt;
  top: 60%;
  left: 15%;
  color: black;
  font-family: 'Almendra', serif;
}

#para9 a{
  text-decoration: none;
}
